* {
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.main{
    /* background-color: #EDE9E9; */
    background-image: url("./assets/healthcare.png");
    
}

.first-nav {
    display: flex;
    justify-content: space-around;
    background-color: #2A49B5;
    color: white;
    padding-top: 1em;
    padding-bottom:1em ;

}

.first-search-icon input {
    border-radius: 57px;
    background-color: #EDE9E9;
}

.first-nav-user {
    display: flex;
    align-items: center;
}

.first-nav-user .icon-user {
    height: 17px;
    width: 14px;
}

.second-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F5F5F5;
    color: #424141;
    /* padding:1.5em; */
    align-items: center;
    cursor: pointer;
    padding-top: 1em;
    padding-bottom:1em ;


}

.second-nav li:hover {
    transition: 0.5ms;
    color: #0F2E97;
}

a {
    color: white;
}

.logo {
    width: 145px;
    height: 45px;
}

.second-nav-dropdown .dropdown {
    width: 15px;
    height: 13px;

}
.second-nav-dropdown{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:0.2rem; 

}
.second-nav-lists{
    display: inline-block;
    position: relative;

}
.second-nav-lists:hover .dropdown-container{
    display: block;
    position: absolute;
}
.dropdown-container{
    display: none;
}
img{
    width: 27px;
    height: 28px;
}
input{
    width: 250px;
    height: 28px;
    /* padding-left: 10px; */
}
.first-search-icon{
    display: flex;
    /* padding-left: 10em; */
}
.advertise-img .img-source ,.img-source2 {
    width: 50em;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.advertise-img div {
    display: flex;
    justify-content: center;
    
}
.advertise-img .img-source2{
    margin-bottom: 3em;
}

/* .flip-image-container img{
     height:23em;
     width:18em;
     

}
.flip-image-container{
    display:flex;
    gap:1em;
    padding-top: 3em;
    
} */

.marquee{
    display:flex;
    color:rgba(213, 245, 89, 1);
    font-size: 1.5em;
    font-weight: 600;
}
footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #11ABCD;
    column-gap: 5em;
    margin-top: 2em;
}
/* .footer-left{
    display: flex;
     gap: 2rem; 
    align-items: center;
    justify-content: space-around;
    flex: 1;
} */
.footer-left{
    display:flex;
    gap:4rem;
    padding: 2em;
    color:white;
    
}
.footer-left p:hover{
    transition:all 2ms;
    color:black;
}
.footer-left h4,.footer-left p{
    margin:10px;
    
}
 hr{
    padding-top: 1px;
    color:rgba(221, 218, 218, 0.603);
    border: 1px solid rgba(221, 218, 218, 0.733);
}

.footer-right{
    border: 1px solid rgba(221, 218, 218, 0.603);
    display: flex;
    flex-direction:column;
    padding:1.5em;
    color:whitesmoke;
    
}


.footer-right input{
    display: flex;
    flex-direction:column;
    margin:1em;
    background-color: #11ABCD;
    color:rgb(255, 253, 253);
    border: 1px solid whitesmoke;

}
.footer-right input:hover{
    transition:all 2ms;
    color:black;
}

.footer-right h3{
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
}
.footer-right p{
    display: flex;
    justify-content: right;
    padding-top: 1em;
}
.footer-right p:hover{
    transition:all 2ms;
    color:black;
    display: flex;
    justify-content: right;
    
}
.health-care-container{
    padding:10px;
    
}
.health-care-container ul li{
    font-size: 18px;
    /* padding: 0 .3rem;  */
    padding: 0 .3rem 0 .3rem; /*top right right-bottom left-bottom*/
    /* padding:1.5rem; */
    
}
.health-care-container ul{
    background-color:rgba(17, 171, 205, 1) ;
    display: inline-flex;
    flex-direction: column;
    gap: 0.3rem;
    
}
.health-care-container ul li{
    margin:1em;
}

.health-care-container ul li:hover{
    transition:all 0.2s;
    color:rgb(197, 12, 12);
}
.medical-assistant li:hover{
    background-image: url(./assets/medical.png);
}

