/* .flip{
    width:200px;
    height:150px;

}
.front, .back{
    position: absolute;
    backface-visibility: hidden;
    background-color: purple;

}
.front{
    background-color:red;
}
.back{
    background-color:blueviolet;
}
.inner-flip{
    transform-style: preserve-3d;
    transition:transform 0.6s;
    position:relative;
}
.flip:hover .inner-flip{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(180deg);

} */

/* *{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;

} 
.nav-bar{
    display: flex;
    background-color:#2A49B5;
    color:whitesmoke;
    padding:1em;
    justify-content:space-around;
    gap:40em;
}
.nav-bar a{
    color:whitesmoke;
}

.nav-bar-right{
    display: flex;
    gap:1em;
}
.first-search-icon p{
        display: flex;

}
.first-search-icon input{
    padding:4px;
    border-radius: 47px;
    padding-left: 2.5em;
}
.first-search-icon p img{
    position:relative;
    right: -27px;
    height:1.2em;
    width:1.1em;
    padding-top: 5px;
    
}
.first-nav-user p img{
    width:12px;
    height:14px;
}
.first-nav-user p{
    display:flex;
    gap: 4px;
}
.second-nav ul {
    color:#424141;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    padding:1em;
}
.second-nav ul li , .second-nav-dropdown span {
    display: flex;
    padding-top: 10px;
}
.second-nav-dropdown span img {
    width: 15px;
    height: 13px;
    padding-top: 3px;

}
.second-nav ul li a{
    color:#424141;
}
.second-nav ul li:hover , .second-nav ul li a:hover , .second-nav-dropdown span:hover{
    transition:all 0.2s;
    color:#2A49B5;
}
@media screen and ( max-width:360px ){
    .nav-bar{
         /* display: flex;
         flex-wrap: wrap; */
/* gap:0px!important ;
    }
    .second-nav {
        
        display:flex;
        flex-wrap: wrap;
        
    }
} */
/* .pseudo-element::before {
    content: 'flower';
    position: absolute;
    font-size: 24px;
    color:whitesmoke;

}

.pseudo-element::after {
    content: 'sinchan';

    position:absolute;
    left:-1px ;
    text-align: center;


    font-size: 24px;




}

.pseudo-element {
    /* background-image: url(https://i.ytimg.com/vi/vGBOO9NbjuU/maxresdefault.jpg); */
/* height: 40rem;
    position: relative;
    background: linear-gradient(180deg,transparent, rgba(189, 27, 62, 0.725));
 } */


/* p::first-letter{
    text-transform:lowercase;
   font-size: 34px;
   color:red;
   } */

/* 
   .dropdown-container {
    background-color: rgba(217, 217, 217, 1);
   } 
   .dropdown-container span{
    color:black;
    border:1px solid black;
    padding: 10px;
   }
   .dropdown-container span:hover{
    transition:all 0.2s;
    color:rgba(163, 23, 23, 1);
   }
   .second-nav-dropdown .dropdown-container{
    display: none;
    position:absolute;
   }

    .second-nav-dropdown.active .dropdown-container{
     display: flex;
     flex-direction: column;
    }
   /* .second-nav-dropdown:hover .dropdown-container{
    display:flex;
    flex-direction: column;
   } */




 
*{
    padding:0;
    margin:0;
}
.main-container{
    display: grid;
    grid-template-columns :repeat(2,1fr);
    gap:2em;
    grid-template-rows: 400px 400px 600px ;

}
.item-1{
     grid-row:1/3 ; 
     display: grid;
     grid-template-rows: 400px 400px 400px;

}
.item-1-top{
    background-color: rgb(217, 229, 229);
}
.topic-content-left-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 200px 200px;
    gap:1em;
}
.topic h1{
    display: flex;
    justify-content: space-around;
    text-decoration: bold;
    font-size: 60px;
}


.item-1-middle{
    background-color:rgb(199, 120, 16);
    display: grid;
    padding:1em;
}
.item-1-buttom{
    background-color: rgb(70, 72, 72);
}

.item-1-middle-text img{
     width:9em; 
}

.item-1-middle-text-right ,.item-1-middle-text{
    display: flex;
}
.item-1-middle-text-right h2{
    text-decoration: underline;
}
.item-1-middle-text-right{
    display:flex;
    flex-direction: column;
    
}
.item-1-middle-text-right h3{
    font-size: 40px;
    display:grid;
    justify-content: space-around;
    
}
.item-1-middle-text{
    display: flex;
    gap:2em;
}
.item-1-middle-image{
    display: flex;
    gap:10px;
}
.item-1-middle-image img{
    width:100%;
    height:100%;
    
}
.item-1-middle-image-text{
    display: flex;
    gap: 10em;

}
.item-1-middle-text-container{
    display: grid;
    gap:1em;
}
.editorial , .date{
    font-size: 26px;
    text-decoration: bold;
    font-weight: 200px;
    
}
.editorial{
    text-decoration: underline;
}
.editorial-text{
    display:grid;
    gap:1em;
}
.editorial-date{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;


}
.item-1-buttom{
    height:100%;
    width:100%;
}
.item-1-buttom img{
    height:100%;
    width:100%;
}




.item-2{
    border:2px solid rgb(36, 203, 30);
    grid-row:1/3 ;
    display: grid; 
    grid-column: 2/4;

}
.item-3{
    background-color: purple;
    position: relative;
    right:-25em;
}
.item-2-first-container{
    background-color: pink;
}
.item-2-first-container-image{
    width:5em;
}
.item-2-first-container-image img{
    width:100%;

}





.item-2-second-container{
    background-color: darkgray;
}
